DEBUG={{ s_notfy_debug }}

MAIL_HOST={{ s_notfy_mail_host }}
MAIL_PORT={{ s_notfy_mail_port }}
MAIL_CONNECTION={{ s_notfy_mail_connection }}

MAIL_USERNAME={{ s_notfy_mail_username }}
MAIL_PASSWORD={{ s_notfy_mail_password }}

MAIL_FROM_NAME='{{ s_notfy_mail_from_name }}'
MAIL_FROM_ADDRESS={{ s_notfy_mail_from_address }}

MAIL_TO_ADDRESS={{ s_notfy_mail_to_address }}
MAIL_TO_NAME='{{ s_notfy_mail_to_name }}'
